.App {
  text-align: center;
  background-color: #ffb500;
  min-height: 100vh;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  background-color: transparent;
  border: none;
  color: #818181;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:active {
  color: #f1f1f1;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px; /* Margin from the top */
}

.ProfileImage {
  margin-bottom: 15px; /* Margin below the image */
  margin-left: calc(10% - 300px);
}

.ProfileImage img {
  width: 400px; /* Set the image width to 400 pixels */
  height: 400px; /* Set the image height to 400 pixels */
}

.ProfileInfo {
  border: 5px solid #000; /* Border around the profile information */
  border-radius: 35px; /* Rounded border corners */
  background-color: #f7f7f6;
  padding: 20px; /* Padding inside the border */
  margin-top: 20px; /* Margin from the top */
  max-width: 400px; /* Limit the width of the profile information */
  text-align: left; /* Align text to the left */
}

.ProfileInfo p {
  margin: 10px 0; /* Margin between paragraphs */
  font-size: 18px; /* Font size of the profile information */
  color:  #3b1901; /* Text color */
}