.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 64px; /* left padding for the nav-bar */
  column-count: 3;
  /* column-gap: 10px; */
}

.search-container {
  display: block;
  flex-direction: column;
  align-items: flex-end;
  /* width: 30%; */
  margin-left: 10px; /*Pushes the search container to the right */
}

.search-filters {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px; /* Adjust the border radius as needed */
  padding: 10px; /* Add padding for better appearance */
  border: 1px solid #000000;
  border-width: 5px; /* Add a border for better visibility */
  outline: none;
  background-color: #ffffff;
  column-count: 2;
}

.search-filters .search-box {
  margin-right: 10px; /* Adjust spacing between filter inputs */
  border-radius: 10px; /* Adjust the border radius of input fields */
  padding: 8px;
}

.results-container {
  display: block;
  overflow-y: auto;
  height: 90vh;
  width: 20%;
}

.results-item {
  border: 2px solid black;
  border-radius: 25px;
}

.results-item > p {
  margin: 0px;
  margin-bottom: 10px;
}

.schedule-container {
  padding-left: 10px;
  padding-right: 20px;
  display: block;
  height: 90vh;
  width: 50%;
  margin-right: auto;
}

p {
  font-size: 24;
}

h3 {
  margin-bottom: 10px;
}

fieldset {
  border: none;
}

.courseLink {
  color: gray;
}

a {
  color: lightslategray;
}